@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Add this import to your CSS file or index.js */
@import '@fortawesome/fontawesome-free/css/all.css';

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  margin: 0;
  color: #fff;
 
  
}
.sidebar {
  background-color: #000;
  padding: 20px;
  width: 250px;
  height: 100vh;
  position: fixed;
}
.content {
  margin-left: 250px;
  padding: 20px;
}
.sidebar-button {
  background-color: #fada32;
  color: #000;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.sidebar-button i {
  margin-right: 10px;
}
.user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-section div {
  background: #fada32;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user-section div:hover {
  background: #fada32;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-left: 50px;
  color: white;
}
.card {
  background-color: #262626;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
}
.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.footer {
  margin-top: 20px;
  text-align: center;
  color: #fada32;
}
/* Adjust the size of the icons */
.fas {
  font-size: 24px;
}
.card img {
  height: 150px; /* Example height, adjust as needed */
  width: 100%; /* This will make the image take full width of the card */
  object-fit: cover; /* This will ensure the image covers the area without stretching */
}

.sidebar {
  background-color: #111111; /* Tailwind teal-600 */
  width: 18rem; /* Set the width of the sidebar */
}
.sidebar a {
  color: #ffffff;
  font-weight: 600;
}

/* Add this to your CSS file */
.nav-button {
  padding: 8px 16px;
  /* Adjust the background color as needed */
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px; /* Add margin between buttons */
}

.nav-button:hover {
  background-color: #fada32; /* Adjust the background color on hover */
  color: #000;
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-main {
  margin-left: 16rem; /* width of the sidebar */
  flex: 1;
  
}
.content {
  padding: 20px;
}

.bg_gray{
  background-color: #111111;
}
.bg_trans{
  background-color: transparent;
}
.bg_trans:hover{
  border-color: #fada32;
}